[Unit]
Description=auto update system timer for uBlue
Wants=network-online.target

[Timer]
OnBootSec=15min
OnUnitInactiveSec=6h
Persistant=true

[Install]
WantedBy=timers.target
