[Unit]
Description=auto update system timer for uBlue
Wants=network-online.target

[Timer]
OnBootSec=1h
OnUnitInactiveSec=1d

[Install]
WantedBy=timers.target
