[Unit]
Description=Universal Blue Update Oneshot Service
Wants=network-online.target
After=network-online.target


[Service]
Type=oneshot
ExecStart=/usr/bin/ublue-update
