[Unit]
Description=update-ublue system timer
Wants=network-online.target

[Timer]
OnBootSec=1h
OnUnitInactiveSec=1d

[Install]
WantedBy=timers.target
