[Unit]
Description=Auto Update System Timer For Universal Blue
Wants=network-online.target

[Timer]
RandomizedDelaySec=10m
OnBootSec=2m
OnCalendar=*-*-* 4:00:00
Persistent=true

[Install]
WantedBy=timers.target
